<section class="registro-user">
    <div class="wrapper">
        <!-- Va a englobar todo el formulario con la cabecera -->
        <div class="section-registro">
            <!-- Va a mostrar el título en la cabecera del componente -->
            <div class="header-registro">
                <mat-icon class="icon-back" (click)="regresar()">arrow_back</mat-icon>
                <span *ngIf="!editar" class="title">Registrar Materias</span>
                <span *ngIf="editar" class="title">Actualizar Materias</span>
                <mat-icon class="icon-forward">arrow_forward</mat-icon>
            </div>
            <div class="body-registro">
                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>NRC</mat-label>
                    <input matInput [(ngModel)]="materias.nrc" placeholder="Escribe el NRC">
                </mat-form-field>
                <div *ngIf="errors.nrc" class="invalid-feedback">{{ errors.nrc }}</div>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Nombre de la materia</mat-label>
                    <input matInput [(ngModel)]="materias.nombre_materia" name="nombre_materia" placeholder="Escribe el nombre de la materia">
                </mat-form-field>
                <div *ngIf="errors.nombre_materia" class="invalid-feedback">{{ errors.nombre_materia }}</div>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Seccion</mat-label>
                    <input matInput [(ngModel)]="materias.seccion" placeholder="Escriba la sección">
                </mat-form-field>
                <div *ngIf="errors.seccion" class="invalid-feedback">{{ errors.seccion }}</div>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Días</mat-label>
                    <input matInput [(ngModel)]="materias.dias" placeholder="Escribe los días">
                </mat-form-field>
                <div *ngIf="errors.dias" class="invalid-feedback">{{ errors.dias }}</div>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Hora inicial</mat-label>
                    <input matInput [(ngModel)]="materias.hora_inicial" aria-label="default time" [format]="24" [ngxTimepicker]="inicial"  readonly>
                    <ngx-material-timepicker  #inicial></ngx-material-timepicker>
                </mat-form-field>
                <div *ngIf="errors.hora_inicial" class="invalid-feedback">{{ errors.hora_inicial }}</div>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Hora final</mat-label>
                    <input matInput [(ngModel)]="materias.hora_final" aria-label="default time" [format]="24" [ngxTimepicker]="final"  readonly>
                    <ngx-material-timepicker  #final></ngx-material-timepicker>
                </mat-form-field>
                <div *ngIf="errors.hora_final" class="invalid-feedback">{{ errors.hora_final }}</div>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Salón</mat-label>
                    <input matInput [(ngModel)]="materias.salon" placeholder="Escribe el salón">
                </mat-form-field>
                <div *ngIf="errors.salon" class="invalid-feedback">{{ errors.salon }}</div>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Programa educativo</mat-label>
                    <mat-select [(ngModel)]="materias.programa_educativo">
                        <mat-option value="ICC">Ingeniería en Ciencias de la Computación</mat-option>
                        <mat-option value="LCC">Licenciatura en Ciencias de la Computación</mat-option>
                        <mat-option value="TIC">Ingeniería en Tecnologías de la Información</mat-option>
                      </mat-select>
                </mat-form-field>
                <div *ngIf="errors.programa_educativo" class="invalid-feedback">{{ errors.programa_educativo }}</div>

                <div class="section-buttons">  
                    <button class="btn btn-danger" (click)="regresar()">Cancelar</button>  
                    <button *ngIf="!editar" class="btn btn-primary" type="submit" (click)="registrar()">Registrar</button>
                    <button *ngIf="editar" class="btn btn-primary" type="submit" (click)="actualizar()">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
</section>